* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

  border-radius: 50px;
  width: 70%;
  height: 500px;
}

h2 {
  margin: 30px;
  text-align: center;
}

.myBtn {
  margin: 30px;
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

img {
  display: block;
  width: 150px;
  margin: auto;
}

.bottom {
  margin: 30px;
  text-align: center;
}

h4 {
  margin: 10px;
}
