@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yeon Sung", cursive;
}

body {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 50px;
  width: 65%;
  height: 470px;
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h2 {
  margin: 30px;
  text-align: center;
}

.myBtn {
  margin: 30px;
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

img {
  display: block;
  width: 150px;
  margin: auto;
}

.bottom {
  margin: 30px;
  text-align: center;
}

h4 {
  margin: 10px;
}
